{
  "rules": {
    "max-classes-per-file": "off",
    "max-lines": ["error", { max: 200, skipBlankLines: true, skipComments: true }],
    "max-lines-per-function": "off",
    "max-statements": ["error", 20]
  }
}
